#! /bin/sh

UPS="eaton@{{ nut_controller_address }}"
STATUS=$( upsc $UPS ups.status 2>&1 | grep -v "^Init SSL")
CHARGE=$( upsc $UPS battery.charge 2>&1 | grep -v "^Init SSL")
CHMSG="[$STATUS]:$CHARGE%"

case $1 in
	heartbeat-failure-timer)
		logger -t upssched-cmd "UPS LOSTCOMMS: LOCALHOST HEARTBEAT"
		/etc/pushover/pushover.sh -T "$(hostname), LOCALHOST HEARTBEAT PROBLEM" -m "Heartbeat monitoring ups driver has failed. Pls do the needful" -p 1
		;;
	lostcomms)
		logger -t upssched-cmd "LOSTCOMMS: EATON, $CHMSG"
		/etc/pushover/pushover.sh -T "$(hostname), UPS LOSTCOMMS: EATON" -m "$(hostname) lost comms to UPS. $CHMSG" -p 1
		;;
	lowbatt)
		logger -t upssched-cmd "LOWBATTERY: EATON, $CHMSG"
		/etc/pushover/pushover.sh -T "UPS LOWBATTERY: EATON" -m "SHUTDOWN OF HOSTS TO COMMENCE SHORTLY. $CHMSG" -p 2
		upscmd -u {{ nut_user_controller_name }} -p {{ nut_user_controller_password }} eaton@{{ nut_controller_address }} beeper.enable
		# delete pod disruption budgets
		kubectl get pdb -A -o json | jq -r '.items[] | select(.spec.selector.matchLabels."longhorn.io/component" == "instance-manager" | kubectl delete -f - --kubeconfig=/etc/rancher/k3s/kubedrainconfig
		logger -t upssched-cmd "ONBATTERY: K8s pod disruption policies deleted"
		/etc/pushover/pushover.sh -T "UPS ONBATTERY: POD DISRUPTION POLICIES DELETED" -m "pod disruption policies deleted" -p 1
		# shutdown kube cluster
		kubectl drain monty crackers mindy --delete-emptydir-data --ignore-daemonsets --pod-selector='app!=csi-attacher,app!=csi-provisioner,app!=longhorn-admission-webhook,app!=longhorn-conversion-webhook,app!=longhorn-driver-deployer' --kubeconfig=/etc/rancher/k3s/kubedrainconfig
		logger -t upssched-cmd "ONBATTERY: K8s Nodes Drained"
		/etc/pushover/pushover.sh -T "UPS ONBATTERY: NODES DRAINED" -m "nodes drained of all k8s pods" -p 1
		# tell subscribers to shutdown
		upsmon -c fsd
		;;
	mute_beeper)
		upscmd -u {{ nut_user_controller_name }} -p {{ nut_user_controller_password }} eaton@{{ nut_controller_address }} beeper.mute
		;;
	onbatt)
		logger -t upssched-cmd "ONBATTERY: EATON, $CHMSG"
		/etc/pushover/pushover.sh -T "UPS ONBATTERY: EATON" -m "STATUS: $CHMSG" -p 1
		;;
	online)
		logger -t upssched-cmd "ONLINE: EATON, $CHMSG"
		/etc/pushover/pushover.sh -T "UPS ONLINE: EATON" -m "STATUS: $CHMSG" -p 1
		;;
	replbatt)
		logger -t upssched-cmd "REPLACEBATTERY: EATON, $CHMSG"
		/etc/pushover/pushover.sh -T "UPS REPLACEBATTERY: EATON" -m "REPLACE BATTERY NOW" -p 1
		;;
	*)
		logger -t upssched-cmd "Unrecognized command: $1"
		/etc/pushover/pushover.sh -T "UPSSCHED-CMD ERROR" -m "$1"
		;;
esac
