---
apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
---
# https://docs.k3s.io/helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  repo: https://metallb.github.io/metallb
  chart: metallb
  version: {{ metallb_version }}
  targetNamespace: metallb-system
  valuesContent: |-
    speaker:
      frr:
        enabled: false
