apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ hostvars['K8S_NODE_DRAIN']['ca'] }}
    server: https://{{ k3s_registration_address }}:6443
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
- context:
    cluster: default
    user: {{ user_account }}
  name: node-drainer
current-context: node-drainer
kind: Config
preferences: {}
users:
- name: {{ user_account }}
  user:
    as-user-extra: {}
    token: {{ hostvars['K8S_NODE_DRAIN']['token'] }}
